<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./../static/css/favorites.css') }}">
    <title>Favorite Author</title>
</head>
<body>
    <main>
        <section class="leftSide">
            <h1>Title: {{books.title}}</h1>
            <div class="tableDiv">
                <div>
                    <ul>
                        <li><h2>Favorite by:</h2></li>
                        {% for element in books.authors %}
                        <li>{{element.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <a class="homelink" href="/authors">Home</a>
        </section>
        <section class="rightSide">
            <form action="/author/fav" method="POST">
                <h1>Add Book's favorite</h1>
                <input type="hidden" name= "book_id" value="{{ books.id }}">
                <div class="inputLines">
                    <select name="author_id" id="book">
                        <option value="">--Select Author--</option>
                        {% for element in unfavorited_authors %}
                        <option value="{{ element.id }}"> {{ element.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">
                    Add
                </button>
            </form>
        </section>
    </main>
</body>
</html>
</html>